/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #2ec4b6;
  --bg-color: #f2fdfd;
}
body {
  background: var(--bg-color);
  font-family: "roboto", Sans;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 50px;
  height: 100vh;
  max-width: 100vw;

  .content {
    max-width: 430px;
    height: 275px;
  }
  & h1 {
    margin: 20px 0;
  }
  & p {
    line-height: 1.8rem;
  }

  .for-mobile {
    display: none;
  }

  img {
    width: 77px;
    height: 80px;
  }
}

form {
  background: var(--primary-color);
  box-shadow: 0.2px 0.2px 10px 1px #dde6e7;
  border-radius: 3px;
  height: 590px;
  max-width: 580px;
  padding: 30px;

  .name,
  .gender-dob,
  .height-weight {
    display: flex;
    flex: 1;
    gap: 10px;
  }

  & input {
    width: 238px;
    height: 48px;
    margin: 10px 0;
    padding: 5px;
  }

  & input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
  }

  &label {
    display: flex;
    flex-direction: column;
  }

  #activity-level {
    width: 100%;
  }

  .select {
    width: 238px;
    height: 48px;
    margin: 10px 10px 0px 0px;
    padding: 3% 0;
  }
  .select:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
  }

  .password {
    width: 100%;
  }

  .btn {
    background: var(--secondary-color);
    border: 1px solid var(--sprimary-color);
    border-radius: 3px;
    box-shadow: 0.2px 0.2px 10px 1px #dde6e7;
    color: #fff;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
  }
}

.register {
  & p {
    font-size: 14px;
    text-align: center;
  }
  & a {
    color: var(--secondary-color);
  }
}

/* For Tablets */

@media screen and (max-width: 1024px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* padding: 20px; */
    margin: 20px;

    .content {
      max-width: 100%;
      height: 275px;
    }
    & h1 {
      margin: 20px 0;
    }
    & p {
      line-height: 1.8rem;
    }

    .large-screen {
      font-size: 1rem;
      width: 600px;
    }

    .for-mobile {
      display: none;
    }

    img {
      width: 77px;
      height: 80px;
    }
  }

  form {
    background: var(--primary-color);
    box-shadow: 0.2px 0.2px 10px 1px #dde6e7;
    border-radius: 3px;
    height: 590px;
    max-width: 100%;
    padding: 30px;

    .name,
    .gender-dob,
    .height-weight {
      display: flex;
    }

    & input {
      width: 100%;
      height: 48px;
      padding: 5px;
    }

    #activity-level {
      width: 100%;
    }

    .select {
      width: 100%;
      height: 48px;
      margin: 10px 10px 10px 0;
      padding: 3% 0;
    }
  }
}

/* For Small Screen  */

@media screen and (max-width: 766px) {
  .flex-container {
    display: block;
    margin: 15px;

    .content {
      max-width: 100%;
      height: 275px;
    }
    & h1 {
      margin: 20px 0;
    }
    & p {
      line-height: 1.8rem;
    }

    .large-screen {
      display: none;
      font-size: 1rem;
      width: 327px;
    }

    .for-mobile {
      display: block;
    }

    img {
      width: 77px;
      height: 80px;
    }
  }

  form {
    background: var(--primary-color);
    box-shadow: 0.2px 0.2px 10px 1px #dde6e7;
    border-radius: 3px;
    height: 870px;
    max-width: 100%;
    padding: 30px;

    .name,
    .gender-dob,
    .height-weight {
      display: block;
    }

    & input {
      width: 100%;
      height: 48px;
      padding: 5px;
    }

    #activity-level {
      width: 100%;
    }

    .select {
      width: 100%;
      height: 48px;
      margin: 10px 10px 10px 0;
      padding: 3% 0;
    }
  }
}
